*{
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Righteous';
  src: url('./fonts/Righteous-Regular.ttf') format('truetype');
}


.title{
  font-family: 'Righteous', sans-serif;
  text-align: center;
  background-color: #04395E;
  font-size: 4rem;
  color: #05A8AA;
}

.main{
  position: relative;
}

.actionBar{
  font-family: 'Righteous', sans-serif;
  display: flex;
  background-color: #FBAF00;
  padding: 0px 3em;
  font-size: 2rem;
  justify-content: space-between;
  color: #343434;
  position: relative;
}

.add-btn{
  background: #343434;
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  color: #fff;
}

span {
  display: inline-block;
  transform: skew(21deg);
}

.add-btn::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #05A8AA;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.add-btn:hover {
  color: #fff;
}

.add-btn:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}
.task{
  font-family: 'Righteous', sans-serif;
  background-color: #04395E;
  height: 100vh;
  color: #05A8AA;
  padding: 1em 3em;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.Jooger{
  position: relative;
  top:10px;
  z-index: 1;
}